* {
    margin: 0;
    padding: 0;
  }
  
  .main {
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.5) 50%
      ),
      url("pexels-pixabay-268533.jpg");
    background-color: #000;
    background-position: center;
    background-size: cover;
    height: 109vh;
  }
  
  .navbar {
    width: 1830px;
    height: 75px;
    margin: auto;
  }
  
  .icon {
    width: 500px;
    float: left;
    height: 70px;
  }
  
  .logo {
    color: #fff;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
  }
  
  .menu {
    width: 700px;
    float: left;
    height: 70px;
  }
  
  ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
  }
  
  ul li a:hover {
    color: #fff33f;
  }

  body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    background: url("pexels-pixabay-268533.jpg");;
  }