
.search {
  width: 330px;
  float: left;
  margin-left: 270px;
  padding-top: 10px;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 42px;
  background: transparent;
  border: 1.5px solid #fff33f;
  margin-top: 5px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn {
  background-color: #fff33f;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
	color: #000;
	cursor: pointer;
	font-size: 16px;
	padding: 14px 40px;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}

.content {
  width: 1400px;
  height: auto;
  margin: auto;
  top: 80px;
  color: #fff;
  position: relative;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1 {
  font-family: "Times New Roman";
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #fff33f;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.content .cn a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.cn:hover {
  background-color: #fff;
}

.content span {
  color: #fff33f;
  font-size: 65px;
}
body,
#quote,
#author {
  display: flex;
  justify-content: center;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 50px;
  width: 93%;
  border: 2px solid #fff33f;
  border-radius: 20px;
}

#quote {
  font-family: "Bradley Hand ITC";
  text-align: center;
  font-size: 35px;
  color: white;
}

#author {
  margin-top: 10px;
  font-family: "Bradley Hand ITC";
  font-size: 40px;
  color: #fff33f;
}
